# Environment variables
.env

# Node
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Build outputs
dist/
build/

# OS files
.DS_Store

# Logs
logs/
*.log

# n8n local data (if any accidentally created)
.n8n/

# Editor configs
.vscode/
.idea/
